@use "../abstract/placeholders";

.layout {
  height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);

  display: flex;
  flex-direction: column;

  .content {
    @extend %container;

    flex-grow: 1;

    overflow-y: scroll;
  }
}