@use "../abstract/mixins";

.note {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header.note__header {
    h1.note__title {
        font-family: var(--font-serif);
        font-size: 2.5rem;
        line-height: 1.4;
        text-align: center;
    }

    a,
    div {
        font-family: var(--font-monospace);
    }

    div.note__aliases {
        margin-bottom: 1.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        color: gray;
        font-size: 0.8rem;

        div.note__alias::before {
            content: "( ";
        }

        div.note__alias::after {
            content: " )";
        }
    }

    div.note__tags {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        a.note__tag {
            color: gray;
        }
    }

    div.note__metadata {
        display: flex;
        justify-content: space-between;

        color: gray;
    }

    a.note__edit_link {
        color: gray;
    }

    div.note__create_time::before {
        content: "C: ";
    }

    div.note__update_time::before {
        content: "M: ";
    }
}

footer.note__footer {
    div.note__backlinks {
        &:has(.note__backlink)::before {
            @include mixins.section-title("MENTIONED IN");
        }

        a.note__backlink {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            div.note__backlink__container {
                border-radius: 0.5rem;
                background-color: var(--theme-primary-color-transparent);

                padding: 1rem;

                h1.note__backlink__title {
                    font-size: 1.25rem;
                }

                div.note__backlink__content {
                    color: gray;
                    font-size: 0.8rem;
                }
            }
        }
    }
}