.search-bar {
  margin-bottom: 1rem;

  #search_field {
    width: 100%;

    border: none;
    border-bottom: 1px solid var(--theme-primary-color);

    padding: 0.5rem;

    color: var(--theme-primary-color);
    font-size: 1.5rem;
    text-align: center;

    &:focus-visible {
      outline: none;
    }
  }
}

.search-result {
  display: flex;
  flex-direction: column;

  .search-result__item {
    margin: 0.5rem;
    padding: 0.5rem;

    transition: 0.2s all ease-in-out;

    &:hover {
      border-radius: 1rem;
      background-color: var(--theme-primary-color-transparent);
    }

    h1 {
      font-size: 1.5rem;
    }
  }

  hr {
    width: 92%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid var(--theme-primary-color-transparent);
  }
}